{% extends "main/base.html" %}
{% load static %}

{% block content%}
<div class="container" style="background-color: red;">
    <h1>Welcome to petbnb website!</h1>
</div>
<h1>Pets:</h1>
    {% for pet in pets %}
        <p>{{ pet.name }} - {{ pet.category }} - {{ pet.breed }}</p>
    {% empty %}
        <p>No pets found.</p>
    {% endfor %}

    <h1>Grooming Services:</h1>
    {% for service in grooming_services %}
        <p>{{ service.name }} - {{ service.price }} - {{ service.duration }}</p>
    {% empty %}
        <p>No grooming services found.</p>
    {% endfor %}

    <h1>Veterinary Services:</h1>
    {% for service in veterinary_services %}
        <p>{{ service.name }} - {{ service.price }} - {{ service.duration }}</p>
    {% empty %}
        <p>No veterinary services found.</p>
    {% endfor %}

    <h1>Boarding Services:</h1>
    {% for service in boarding_services %}
        <p>{{ service.name }} - {{ service.price }} - {{ service.duration }}</p>
    {% empty %}
        <p>No boarding services found.</p>
    {% endfor %}

    <h1>Service Providers:</h1>
    {% for provider in service_providers %}
        <p>{{ provider.name }} - {{ provider.contact_info }}</p>
    {% empty %}
        <p>No service providers found.</p>
    {% endfor %}

    <h1>Bookings:</h1>
    {% for booking in bookings %}
        <p>{{ booking.pet_owner }} booked {{ booking.service.name }} with {{ booking.service_provider.name }} on {{ booking.date }} at {{ booking.start_time }}</p>
    {% empty %}
        <p>No bookings found.</p>
    {% endfor %}

    <h1>Payments:</h1>
    {% for payment in payments %}
        <p>{{ payment.user }} - {{ payment.transaction_amount }} - {{ payment.transaction_date }}</p>
    {% empty %}
        <p>No payments found.</p>
    {% endfor %}

    <h1>Locations:</h1>
    {% for location in locations %}
        <p>{{ location.street_address }} - {{ location.area }} - {{ location.county }} - {{ location.postal_code }}</p>
    {% empty %}
        <p>No locations found.</p>
    {% endfor %}

    <h1>Reviews:</h1>
    {% for review in reviews %}
    <p>{{ review.user }} reviewed {{ review.service_provider.name }} for {{ review.service.name }} and gave a rating of {{ review.rating }} out of 5 on {{ review.creation_date }}</p>
    {% empty %}
    <p>No reviews found.</p>
    {% endfor %}
{% endblock%}